.notice= flash[:success]

%p How are you getting there?
%button.car_b Car
%button.bus_b Truck/Bus
%button.train_b Train
%button.plane_b Plane


= form_tag("/trips", method: 'post') do
	%ul
		%li.transport.car
			= label_tag("hours", "Length of flight: ")
			= number_field_tag("hours", step: 0.5)
		%li.transport.bus
			= label_tag("hours", "Length of flight: ")
			= number_field_tag("hours", step: 0.5)
		%li.transport.train
			= label_tag("hours", "Length of flight: ")
			= number_field_tag("hours", step: 0.5)
		%li.transport.plane
			= label_tag("hours", "Length of flight: ")
			= number_field_tag("hours", step: 0.5)
		%li
			= submit_tag "Go"

%script
	// hide form fields
	$(".transport").hide();
	
	// toggle on button click
	$(".car_b").click(function(){ $(".car").slideToggle(); });
	$(".bus_b").click(function(){ $(".bus").slideToggle(); });
	$(".train_b").click(function(){ $(".train").slideToggle(); });
	$(".plane_b").click(function(){ $(".plane").slideToggle(); });