#container
	.notice= flash[:success]

	- if (Event.find(params[:event_id]).name == "")
		%p Describe your trip
	- else
		%p Describe your trip to #{Event.find(params[:event_id]).name}

	%button.transport_button.car_b Car
	%button.transport_button.bus_b Truck/Bus
	%button.transport_button.train_b Train
	%button.transport_button.plane_b Plane

	= form_tag("/trips", method: 'post') do
		.transport.car
			%ul.question
				%li= label_tag("car_km", "Kilometers travelled by car: ")
				%li= number_field_tag("car_km", step: 0.5)
			%ul.question
				%li= label_tag("car_people", "Number of people in the car: ")
				%li= number_field_tag("car_people", step: 0.5)
		.transport.bus
			%ul.question
				%li= label_tag("bus_km", "Kilometers travelled by bus: ")
				%li= number_field_tag("bus_km", step: 0.5)
			%ul.question
				%li= label_tag("bus_people", "Number of people in the bus: ")
				%li= number_field_tag("bus_people", step: 0.5)
		.transport.train
			%ul.question
				%li= label_tag("train_km", "Kilometers travelled by train: ")
				%li= number_field_tag("train_km", step: 0.5)
		.transport.plane
			%ul.question
				%li= label_tag("plane_hours", "Length of flight: ")
				%li= number_field_tag("plane_hours", step: 0.5)
		%div
			= hidden_field_tag("user_id", nil, value: params[:user_id])
			= hidden_field_tag("event_id", nil, value: params[:event_id])
			= submit_tag("Go", class: "button")

	%script
		// hide form fields
		$(".transport").hide();
		
		// toggle on button click
		$(".car_b").click(function(){ $(".car").slideToggle(); $(this).toggleClass('active'); });
		$(".bus_b").click(function(){ $(".bus").slideToggle(); $(this).toggleClass('active'); });
		$(".train_b").click(function(){ $(".train").slideToggle(); $(this).toggleClass('active'); });
		$(".plane_b").click(function(){ $(".plane").slideToggle(); $(this).toggleClass('active'); });

%style
	body {
	background: url(#{Event.find(params[:event_id]).attachment})
	}