= image_tag "home.jpg", class: "bg-img"
#container	
	%h1 Hi there!
	%p Welcome to Greenpop's Travel for Trees Carbon Calculator. Find your event or calculate without one.
	%ul
		= form_tag(events_path, method: 'get') do
			%li= text_field_tag("event_search", params[:event_search], :placeholder =>"Search...")
			%li= submit_tag("Go", class: "button")
	%ul
		%li= link_to("Calculate without an event", "events/1")
		- if params[:event_search]
			- @events.each do |event|
				
				%li 
					= link_to(event.name, new_event_user_path(event))
					#{event.start_date}

/ %style
/ 	body {
/ 	background: url(<%= Event.find(params[:event_id]).attachment %>)
/ 	}