= image_tag @event.background.url, class: "bg-img"
#container
	%h1= @event.name

	%ul
		%li People who have completed this survey: #{@total_users}
		%li Tonnes of carbon used: #{@total_carbon}
		%li Km travelled: #{@total_km}
		%li Trees donated: #{@total_trees}
		%li Pledges made: #{@total_pledge}

	=link_to("Calculate again", "/events/#{@event.id}/users/new")
