#show_text
	%h1= @event.name
	%p= @event.about
	
	= form_for @user do |f|
		%ul
			%li
				= f.text_field(:name, autofocus: true, placeholder: 'Name')
			%li
				= f.email_field(:email, placeholder: 'Email')

	%p#user_response
	=link_to("Enter information >>", new_trip_path)
